In [20]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext

Requirement already satisfied: pyspark in /home/dominic/anaconda3/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /home/dominic/.local/lib/python3.8/site-packages (from pyspark) (0.10.9.3)

In [21]:
#  Create a spark session for the project
spark=SparkSession.builder.appName('airline').getOrCreate()

In [22]:
# Read data into spark
AirlineDF = spark.read.option('header', 'true').csv('airlines1.csv')

In [26]:
#Register dataframe as dataframe 
AirlineDF.createOrReplaceTempView ('AirlineTable')

In [30]:
# Shape of the dataframe 
print((AirlineDF.count(), len(AirlineDF.columns)))

(50001, 110)

 There are 50001 rows and 110 columns

In [31]:
# Reading the registered Table
spark.sql ('select * from AirlineTable').show()

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

22/05/31 11:28:49 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, Div4TailNum, Div5Airport, Div5AirportID, Div5AirportSeqID, Div5WheelsOn, Div5TotalGTime, Div5LongestGTime, Div5WheelsOff, Div5TailNum
 Schema: _c0, Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, Div4TailNum, Div5Airport, Div5AirportID, Div5AirportSeqID, Div5WheelsOn, Div5TotalGTime, Div5LongestGTime, Div5WheelsOff, Div5TailNum
Expected: _c0 but found:
CSV file: file:///home/dominic/Documents/projectpro/pyspark/2%20rdd/airlines1.csv

In [36]:
spark.sql ('describe AirlineTable').show(110)

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|                 _c0|   string|   null|
|                Year|   string|   null|
|             Quarter|   string|   null|
|               Month|   string|   null|
|          DayofMonth|   string|   null|
|           DayOfWeek|   string|   null|
|          FlightDate|   string|   null|
|   Reporting_Airline|   string|   null|
|DOT_ID_Reporting_...|   string|   null|
|IATA_CODE_Reporti...|   string|   null|
|         Tail_Number|   string|   null|
|Flight_Number_Rep...|   string|   null|
|     OriginAirportID|   string|   null|
|  OriginAirportSeqID|   string|   null|
|  OriginCityMarketID|   string|   null|
|              Origin|   string|   null|
|      OriginCityName|   string|   null|
|         OriginState|   string|   null|
|     OriginStateFips|   string|   null|
|     OriginStateName|   string|   null|
|           OriginWac|   string|   null|
|       DestAirportID|   string|   null|
|    DestAirportSeqID|   string|   null|
|    DestCityMarketID|   string|   null|
|                Dest|   string|   null|
|        DestCityName|   string|   null|
|           DestState|   string|   null|
|       DestStateFips|   string|   null|
|       DestStateName|   string|   null|
|             DestWac|   string|   null|
|          CRSDepTime|   string|   null|
|             DepTime|   string|   null|
|            DepDelay|   string|   null|
|     DepDelayMinutes|   string|   null|
|            DepDel15|   string|   null|
|DepartureDelayGroups|   string|   null|
|          DepTimeBlk|   string|   null|
|             TaxiOut|   string|   null|
|           WheelsOff|   string|   null|
|            WheelsOn|   string|   null|
|              TaxiIn|   string|   null|
|          CRSArrTime|   string|   null|
|             ArrTime|   string|   null|
|            ArrDelay|   string|   null|
|     ArrDelayMinutes|   string|   null|
|            ArrDel15|   string|   null|
|  ArrivalDelayGroups|   string|   null|
|          ArrTimeBlk|   string|   null|
|           Cancelled|   string|   null|
|    CancellationCode|   string|   null|
|            Diverted|   string|   null|
|      CRSElapsedTime|   string|   null|
|   ActualElapsedTime|   string|   null|
|             AirTime|   string|   null|
|             Flights|   string|   null|
|            Distance|   string|   null|
|       DistanceGroup|   string|   null|
|        CarrierDelay|   string|   null|
|        WeatherDelay|   string|   null|
|            NASDelay|   string|   null|
|       SecurityDelay|   string|   null|
|   LateAircraftDelay|   string|   null|
|        FirstDepTime|   string|   null|
|       TotalAddGTime|   string|   null|
|     LongestAddGTime|   string|   null|
|  DivAirportLandings|   string|   null|
|      DivReachedDest|   string|   null|
|DivActualElapsedTime|   string|   null|
|         DivArrDelay|   string|   null|
|         DivDistance|   string|   null|
|         Div1Airport|   string|   null|
|       Div1AirportID|   string|   null|
|    Div1AirportSeqID|   string|   null|
|        Div1WheelsOn|   string|   null|
|      Div1TotalGTime|   string|   null|
|    Div1LongestGTime|   string|   null|
|       Div1WheelsOff|   string|   null|
|         Div1TailNum|   string|   null|
|         Div2Airport|   string|   null|
|       Div2AirportID|   string|   null|
|    Div2AirportSeqID|   string|   null|
|        Div2WheelsOn|   string|   null|
|      Div2TotalGTime|   string|   null|
|    Div2LongestGTime|   string|   null|
|       Div2WheelsOff|   string|   null|
|         Div2TailNum|   string|   null|
|         Div3Airport|   string|   null|
|       Div3AirportID|   string|   null|
|    Div3AirportSeqID|   string|   null|
|        Div3WheelsOn|   string|   null|
|      Div3TotalGTime|   string|   null|
|    Div3LongestGTime|   string|   null|
|       Div3WheelsOff|   string|   null|
|         Div3TailNum|   string|   null|
|         Div4Airport|   string|   null|
|       Div4AirportID|   string|   null|
|    Div4AirportSeqID|   string|   null|
|        Div4WheelsOn|   string|   null|
|      Div4TotalGTime|   string|   null|
|    Div4LongestGTime|   string|   null|
|       Div4WheelsOff|   string|   null|
|         Div4TailNum|   string|   null|
|         Div5Airport|   string|   null|
|       Div5AirportID|   string|   null|
|    Div5AirportSeqID|   string|   null|
|        Div5WheelsOn|   string|   null|
|      Div5TotalGTime|   string|   null|
|    Div5LongestGTime|   string|   null|
|       Div5WheelsOff|   string|   null|
|         Div5TailNum|   string|   null|
+--------------------+---------+-------+

Describe function gives attributes of the dataframe

In [35]:
#Select columns from table
spark.sql('select origin, destcityname from AirlineTable').show()

+------+--------------------+
|origin|        destcityname|
+------+--------------------+
|   MSP|  Salt Lake City, UT|
|   MKE|         Orlando, FL|
|   GJT|Dallas/Fort Worth...|
|   LAX|         Detroit, MI|
|   EWR|       Charlotte, NC|
|   DFW|      Shreveport, LA|
|   BOS|       Cleveland, OH|
|   ATL|        Columbia, SC|
|   ORD|       Cleveland, OH|
|   MDW|          Dallas, TX|
|   SAN|     Los Angeles, CA|
|   ELP|          Dallas, TX|
|   SJU|           Miami, FL|
|   ABQ|     Los Angeles, CA|
|   ORD|        New York, NY|
|   GSO|       Baltimore, MD|
|   DTW|Saginaw/Bay City/...|
|   SLC|         Seattle, WA|
|   LAX|      Washington, DC|
|   SMF|     Los Angeles, CA|
+------+--------------------+
only showing top 20 rows

In [39]:
#Average delay time
spark.sql ('select avg(DepDelayMinutes) from AirlineTable').show()

+--------------------+
|avg(DepDelayMinutes)|
+--------------------+
|  10.851455322613475|
+--------------------+

There is an average of 10.85 minutes delay

In [51]:
#calcute the overall filigt delay
spark.sql('select Flight_Number_Reporting_Airline , DepDelay+ArrDelay as Total_delay from AirlineTable').show()

+-------------------------------+-----------+
|Flight_Number_Reporting_Airline|Total_delay|
+-------------------------------+-----------+
|                            675|       42.0|
|                            671|       -2.0|
|                           3297|       11.0|
|                           1806|      -20.0|
|                            465|       83.0|
|                           1198|       11.0|
|                           1431|       -2.0|
|                           3459|      435.0|
|                           7233|       12.0|
|                           5932|       45.0|
|                           2135|        8.0|
|                           1463|       -5.0|
|                            830|      -13.0|
|                           6474|      -23.0|
|                            674|      -21.0|
|                            362|       10.0|
|                           1678|      -18.0|
|                            413|      -35.0|
|                            210|      -17.0|
|                            995|       null|
+-------------------------------+-----------+
only showing top 20 rows

In [49]:
#calc overall flight delay
spark.sql('select IATA_CODE_Reporting_Airline , (DepDelay+ArrDelay) from AirlineTable desc ').show()

+---------------------------+---------------------+
|IATA_CODE_Reporting_Airline|(DepDelay + ArrDelay)|
+---------------------------+---------------------+
|                         NW|                 42.0|
|                         FL|                 -2.0|
|                         MQ|                 11.0|
|                         DL|                -20.0|
|                         US|                 83.0|
|                         DL|                 11.0|
|                         CO|                 -2.0|
|                         9E|                435.0|
|                         YV|                 12.0|
|                         WN|                 45.0|
|                         US|                  8.0|
|                         WN|                 -5.0|
|                         AA|                -13.0|
|                         OO|                -23.0|
|                         UA|                -21.0|
|                         PI|                 10.0|
|                         NW|                -18.0|
|                         AS|                -35.0|
|                         UA|                -17.0|
|                         WN|                 null|
+---------------------------+---------------------+
only showing top 20 rows

In [57]:
# count total number of flights by origin airport and total avg and maximum DepDelay time of each airport
spark.sql('select origin, count(*),  avg(DepDelayMinutes), max(DepDelayMinutes) from AirlineTable group by origin  ').show(100)

+------+--------+--------------------+--------------------+
|origin|count(1)|avg(DepDelayMinutes)|max(DepDelayMinutes)|
+------+--------+--------------------+--------------------+
|   ABE|      49|   6.659574468085107|                44.0|
|   ABI|      11|  0.5555555555555556|                 4.0|
|   ABQ|     290|   9.041958041958042|                 9.0|
|   ABR|       3|               284.0|               852.0|
|   ABY|       3|                20.0|                30.0|
|   ACK|       1|                 0.0|                 0.0|
|   ACT|      16|              3.1875|                33.0|
|   ACV|      14|   7.071428571428571|                 7.0|
|   ACY|       5|                 7.6|                38.0|
|   ADK|       2|                 6.5|                13.0|
|   ADQ|       4|   4.666666666666667|                14.0|
|   AEX|      11|   8.090909090909092|                34.0|
|   AGS|      27|  23.814814814814813|                64.0|
|   AKN|       2|                 9.5|                 4.0|
|   ALB|     111|  7.5504587155963305|                 9.0|
|   ALO|       3|                 0.0|                 0.0|
|   AMA|      47|   9.065217391304348|                72.0|
|   ANC|     146|  11.282758620689656|                 9.0|
|   APN|       2|                 0.0|                 0.0|
|   ART|       1|                 0.0|                 0.0|
|   ASE|      18|               10.75|                 9.0|
|   ATL|    2669|  11.626854317230887|                99.0|
|   ATW|      13|                3.25|                24.0|
|   AUS|     355|  11.005698005698006|                 9.0|
|   AVL|      29|  23.178571428571427|                89.0|
|   AVP|      26|              13.125|                70.0|
|   AZA|       3|                 0.0|                 0.0|
|   AZO|      24|   8.130434782608695|                23.0|
|   BDL|     245|  7.4979253112033195|                94.0|
|   BET|       4|                6.25|                 6.0|
|   BFL|      12|  32.083333333333336|                45.0|
|   BGM|      11|                 4.0|                40.0|
|   BGR|      19|  15.052631578947368|                59.0|
|   BHM|     142|   8.385714285714286|                90.0|
|   BIL|      32|             7.90625|                 9.0|
|   BIS|      16|             24.8125|               365.0|
|   BJI|       2|                 0.0|                 0.0|
|   BLI|       6|   4.666666666666667|                27.0|
|   BLV|       1|                 0.0|                 0.0|
|   BMI|      15|  17.785714285714285|                20.0|
|   BNA|     460|   7.797802197802198|                95.0|
|   BOI|     102|  12.843137254901961|                91.0|
|   BOS|     884|  12.308962264150944|                96.0|
|   BPT|       3|  55.333333333333336|                37.0|
|   BQK|       4|                8.75|                25.0|
|   BQN|       4|                45.5|                 3.0|
|   BRO|      12|   4.083333333333333|                43.0|
|   BRW|       6|                10.0|                30.0|
|   BTM|       3|                10.0|                30.0|
|   BTR|      66|   8.384615384615385|                 8.0|
|   BTV|      43|  11.465116279069768|                 6.0|
|   BUF|     194|  10.552083333333334|                 9.0|
|   BUR|     222|    6.58256880733945|                98.0|
|   BWI|     698|  10.634393063583815|                95.0|
|   BZN|      31|   16.35483870967742|                95.0|
|   CAE|      64|   6.492063492063492|                 8.0|
|   CAK|      46|                 5.2|                 5.0|
|   CCR|       1|                 0.0|                 0.0|
|   CDC|       2|                 0.0|                 0.0|
|   CDV|      10|                 1.8|                18.0|
|   CEC|       5|                22.8|               114.0|
|   CHA|      31|   4.333333333333333|                69.0|
|   CHO|      14|  15.142857142857142|                33.0|
|   CHS|     109|   7.757009345794392|                 9.0|
|   CIC|       7|   36.57142857142857|                71.0|
|   CID|      54|   20.40740740740741|                 7.0|
|   CKB|       1|                 0.0|                 0.0|
|   CLD|       7|   4.571428571428571|                32.0|
|   CLE|     479|   6.721868365180467|                 9.0|
|   CLL|      10|                 5.5|                49.0|
|   CLT|     994|  11.121399176954732|                98.0|
|   CMH|     320|   9.331210191082803|                90.0|
|   CMI|      10|                 3.8|                 5.0|
|   CMX|       4|                0.75|                 3.0|
|   COD|       3|  24.333333333333332|                73.0|
|   COS|     100|               13.74|                88.0|
|   COU|       7|  2.1666666666666665|                13.0|
|   CPR|      12|  1.2727272727272727|                 8.0|
|   CRP|      48|                 6.0|                76.0|
|   CRW|      29|                29.0|                71.0|
|   CSG|      14|                 1.0|                 7.0|
|   CVG|     570|   7.101785714285715|                 9.0|
|   CWA|      10|                 1.6|                 3.0|
|   DAB|      26|   8.384615384615385|                 9.0|
|   DAL|     425|   9.295942720763723|                91.0|
|   DAY|     154|    7.97986577181208|                 9.0|
|   DBQ|       6|                52.8|                92.0|
|   DCA|     704|   9.595620437956205|                95.0|
|   DEN|    1592|  12.815189873417722|                99.0|
|   DET|      13|  5.6923076923076925|                38.0|
|   DFW|    2188|  10.758861940298507|                99.0|
|   DHN|       3|                 0.0|                 0.0|
|   DIK|       1|                 0.0|                 0.0|
|   DLG|       1|                 3.0|                 3.0|
|   DLH|      14|   5.076923076923077|                60.0|
|   DRO|       9|                15.0|                80.0|
|   DSM|      85|   8.560975609756097|                 9.0|
|   DTW|    1190|  10.761499148211243|                98.0|
|   DUT|       7|   9.333333333333334|                38.0|
|   EAU|       5|                 2.4|                12.0|
+------+--------+--------------------+--------------------+
only showing top 100 rows

In [71]:
# Calculate origin state wise cancelled flights
spark.sql ('select OriginState , count(cancelled)  from AirlineTable  where Cancelled = 1 group by OriginState').show()

+-----------+----------------+
|OriginState|count(cancelled)|
+-----------+----------------+
|         SC|               8|
|         AZ|              12|
|         MN|              26|
|         NJ|              27|
|         OR|               5|
|         VA|              41|
|         RI|               4|
|         KY|              15|
|         MI|              24|
|         NV|              10|
|         WI|               6|
|         CA|              99|
|         NE|               2|
|         NC|              31|
|         MO|              20|
|         IL|              76|
|         ND|               1|
|         WA|              10|
|         AL|               7|
|         IN|               7|
+-----------+----------------+
only showing top 20 rows

In [72]:
#Rank and number of diverted flight by origin

In [74]:
spark.sql("select origin,count(*) from AirlineTable where year = 2010 and month = 6  group by origin order by count(*) desc").show()

+------+--------+
|origin|count(1)|
+------+--------+
|   ATL|       8|
|   ORD|       7|
|   DFW|       6|
|   MCO|       6|
|   PHX|       6|
|   LAX|       5|
|   IAH|       5|
|   CLE|       4|
|   SFO|       3|
|   LAS|       3|
|   MEM|       3|
|   BOS|       3|
|   CMH|       3|
|   IAD|       3|
|   CLT|       3|
|   TPA|       3|
|   MIA|       3|
|   EWR|       2|
|   DEN|       2|
|   SMF|       2|
+------+--------+
only showing top 20 rows

In [76]:
# the next 3 cells demonstrates Rank , Dense_Rank and Row_number
spark.sql("select origin,sum(diverted),RANK() over(order by sum(diverted) desc) AS RANKING from AirlineTable group by origin").show()

22/05/31 14:14:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:14:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:14:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:14:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------+-------------+-------+
|origin|sum(diverted)|RANKING|
+------+-------------+-------+
|   DEN|          6.0|      1|
|   ATL|          6.0|      1|
|   ORD|          6.0|      1|
|   MSP|          6.0|      1|
|   DFW|          5.0|      5|
|   FLL|          5.0|      5|
|   CVG|          4.0|      7|
|   CLT|          4.0|      7|
|   LAX|          4.0|      7|
|   MCO|          4.0|      7|
|   CMH|          3.0|     11|
|   SEA|          3.0|     11|
|   PDX|          3.0|     11|
|   BWI|          3.0|     11|
|   STL|          3.0|     11|
|   PIT|          3.0|     11|
|   DCA|          2.0|     17|
|   PSG|          2.0|     17|
|   BNA|          2.0|     17|
|   IAH|          2.0|     17|
+------+-------------+-------+
only showing top 20 rows

In [77]:
spark.sql("select origin,sum(diverted),Dense_rank() over(order by sum(diverted) desc) AS RANKING from AirlineTable group by origin").show()

+------+-------------+-------+
|origin|sum(diverted)|RANKING|
+------+-------------+-------+
|   DEN|          6.0|      1|
|   ATL|          6.0|      1|
|   ORD|          6.0|      1|
|   MSP|          6.0|      1|
|   DFW|          5.0|      2|
|   FLL|          5.0|      2|
|   CVG|          4.0|      3|
|   CLT|          4.0|      3|
|   LAX|          4.0|      3|
|   MCO|          4.0|      3|
|   CMH|          3.0|      4|
|   SEA|          3.0|      4|
|   PDX|          3.0|      4|
|   BWI|          3.0|      4|
|   STL|          3.0|      4|
|   PIT|          3.0|      4|
|   DCA|          2.0|      5|
|   PSG|          2.0|      5|
|   BNA|          2.0|      5|
|   IAH|          2.0|      5|
+------+-------------+-------+
only showing top 20 rows

22/05/31 14:16:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:16:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:16:13 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:16:13 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [78]:
spark.sql("select origin,sum(diverted),Row_number() over(order by sum(diverted) desc) AS RANKING from AirlineTable group by origin").show()

+------+-------------+-------+
|origin|sum(diverted)|RANKING|
+------+-------------+-------+
|   DEN|          6.0|      1|
|   ATL|          6.0|      2|
|   ORD|          6.0|      3|
|   MSP|          6.0|      4|
|   DFW|          5.0|      5|
|   FLL|          5.0|      6|
|   CVG|          4.0|      7|
|   CLT|          4.0|      8|
|   LAX|          4.0|      9|
|   MCO|          4.0|     10|
|   CMH|          3.0|     11|
|   SEA|          3.0|     12|
|   PDX|          3.0|     13|
|   BWI|          3.0|     14|
|   STL|          3.0|     15|
|   PIT|          3.0|     16|
|   DCA|          2.0|     17|
|   PSG|          2.0|     18|
|   BNA|          2.0|     19|
|   IAH|          2.0|     20|
+------+-------------+-------+
only showing top 20 rows

22/05/31 14:17:05 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:17:05 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:17:05 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/05/31 14:17:05 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [79]:
#select some columns
df1 = spark.sql("select year,count(*) AS TOTAL_FLIGHT ,count(arrdelay==0) AS TOTAL_ON_TIME,sum(cancelled) AS TOTAL_CANCELLED,sum(diverted) AS TOTAL_DIRVERTED from AirlineTable where group by year;")

In [82]:
#register as table
df1.createOrReplaceTempView ('AirlineTable1')

In [84]:
spark.sql('select * from AirlineTable1').show()

+----+------------+-------------+---------------+---------------+
|year|TOTAL_FLIGHT|TOTAL_ON_TIME|TOTAL_CANCELLED|TOTAL_DIRVERTED|
+----+------------+-------------+---------------+---------------+
|1987|         339|          336|            3.0|            0.0|
|2016|        1502|         1484|           17.0|            1.0|
|2020|         462|          438|           24.0|            0.0|
|2012|        1519|         1497|           20.0|            2.0|
|1988|        1310|         1293|           15.0|            2.0|
|2019|        1900|         1862|           34.0|            4.0|
|2017|        1449|         1421|           22.0|            6.0|
|2014|        1513|         1476|           31.0|            6.0|
|2013|        1690|         1663|           22.0|            5.0|
|2005|        1812|         1776|           33.0|            3.0|
|2000|        1477|         1432|           42.0|            3.0|
|2002|        1371|         1360|           11.0|            0.0|
|2009|        1604|         1578|           19.0|            7.0|
|2018|        1862|         1833|           24.0|            5.0|
|1995|        1377|         1352|           22.0|            3.0|
|2006|        1900|         1862|           30.0|            8.0|
|2004|        1847|         1815|           29.0|            3.0|
|2011|        1551|         1516|           29.0|            6.0|
|1989|        1288|         1259|           26.0|            3.0|
|1992|        1335|         1318|           14.0|            3.0|
+----+------------+-------------+---------------+---------------+
only showing top 20 rows